[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RSAlgaeR"]
	path = RSAlgaeR
	url = https://github.com/cahhansen/rsalgae
	shallow = true
	subdir = RSAlgaeR
	registered = true
